@import "tailwindcss";

:root {
  --background: none; /* Removed */
  --foreground: none; /* Removed */

  /* Brand Colors */
  --primary-bg-main: #0f766e;
  --primary-bg-light: #5eead4;
  --primary-bg-dark: #115e59;
  --primary-text: #0b3a36;

  --secondary-bg-main: #7e22ce;
  --secondary-bg-light: #c084fc;
  --secondary-bg-dark: #6b21a8;
  --secondary-text: #3d1066;

  --tertiary-bg-main: #eab308;
  --tertiary-bg-light: #fde047;
  --tertiary-bg-dark: #ca8a04;
  --tertiary-text: #dad30b;

  /* Status Colors */
  --success-bg-main: #16a34a;
  --success-bg-light: #4ade80;
  --success-bg-dark: #15803d;
  --success-text: #06451a;

  --warning-bg-main: #d97706;
  --warning-bg-light: #fde68a;
  --warning-bg-dark: #b45309;
  --warning-text: #a56506;

  --error-bg-main: #dc2626;
  --error-bg-light: #fca5a5;
  --error-bg-dark: #b91c1c;
  --error-text: #7a1a1a;

  --info-bg-main: #2563eb;
  --info-bg-light: #60a5fa;
  --info-bg-dark: #1d4ed8;
  --info-text: #15306b;

  /* Utility Text Colors */
  --text-main: #171717;
  --text-secondary: #7a7c7f;
  --text-placeholder: #a1a1aa;

  /* Typography Sizes */
  --text-xs: 0.75rem;
  --text-s: 0.875rem;
  --text-base: 1rem;
  --text-l: 1.125rem;
  --text-xl: 1.25rem;

  /* Font Weights */
  --font-weight-base: 500;
  --font-weight-b: 700;
  --font-weight-l: 300;
}
